<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <span class="powerby">PowerBy</span> <a class="powera"  href="http://freecodecamp.cn/xdsnet">@xdsnet</a><br>
    <span class="powerby">酒吧搜索-PowerBy</span> <a class="powera"  href="https://www.foursquare.com">Foursquare</a>
  </div>
</nav>